@import "tailwindcss";

:root{
  --cta-color: #202f3d; 
  --font-inter: "Inter", sans-serif;
}

*{
  font-family: var(--font-inter);
}
body{
  overflow-x: hidden;
}

h1{
  color: theme(--color-gray-900);
}
a{
  color: theme(--color-gray-700);
}

.primary-bg-color{
  background-color: var(--cta-color);
} 
.primary-text-color{
  color: var(--cta-color);
}